.input-group {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  margin-bottom: 1rem;
}

.input-group > label {
  text-align: left;
}

.input-group > input {
  background-color: white;
  color: black;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 4px;
  padding: 4px;
}

.input-group > input:focus {
  border: 1px solid var(--accent-color);
  outline: none;
}
