.section {
  display: flex;
  flex-direction: column;
}

.section-content {
  display: flex;
  flex-direction: column;
  opacity: 0;
  height: 0;
  visibility: hidden;
}

.section-content.open {
  opacity: 1;
  height: auto;
  visibility: visible;
}

.forms-container {
  display: flex;
  flex-direction: column;
}
